*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .bg{
    background: url(./1.jpg) right no-repeat, url('./1.webp')  left no-repeat;
} */


.test{
    width: 100px;
    height: 100px;
    background-color: #f00;
    animation-name: first-animation;
    animation-duration: 6s;
    animation-iteration-count: 5;
    animation-delay: 2s;
    animation-direction: alternate-reverse;
    position: absolute;
}


@keyframes first-animation{
    0%{background-color:yellow; top:0px; left:0px; color:#fff}
    25%{background-color: blue; left:500px; top:0px; color:red;}
    50%{background-color: rgb(172, 21, 84); top:500px; left:500px; }
    75%{background-color: green; left:0px; top:500px;}
    100%{background-color: red; top:0px; left:0px}
}



.test-2{
width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
   
}

h1{
    text-shadow: 2px 2px rgb(182, 174, 174);
}


.linear{
    width: 500px;
    height: 500px;
    background-image: linear-gradient(to bottom right, red, yellow);
    /* background-image: radial-gradient( red, yellow); */
}