*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: url('1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.parant{
    width: 300px;
    height: 300px;
    background-color: #2d2f2a;
    /* position: relative;
    top: 50px;
    left: 20px; */

   margin-top: 200px;
   position: relative;
}

.child{
    width: 100px;
    height: 100px;
    background-color: #ff0;
    position: absolute;
    top: 20px;
    left: 50px;
}


.btn{
    background-color: #f00;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 200px;
    right: 5px;
}

.menu{
    background-color: #f00;
    height: 60px;
    color: #fff;
    font-weight: bold;
    position: sticky;
    top: 20px;
}



.menu ul{
    list-style-type: none;
    display: flex;
}

.menu ul li{
    display: inline-block;
    padding: 20px 20px;
    width: 20%;
}