*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    border: 2px solid #f00;
    /* background-image:url(1.webp); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container .parent{
    width: 400px;
    height: 400px;
    background-color: #222;
    color:#fff;
    border:2px solid red;
    margin: 10px;
    padding: 10px;
    border: 5px dotted blue;
    border-radius: 10% 40% 10% 20%;
}

.container .parent> p{
    color: red;
}
.container .parent2{
    width: 400px;
    height: 400px;
    background-color: #222;
    color:#fff;
    margin: 10px;
    padding: 10px;
}

.mobile{
    margin:20px auto;
    width: 500px;
}

.mobile a{
    text-decoration: none;
    height: 40px;
    display: inline-block;
    background-color: #222;
    color: #fff;
  
}
.mobile a:hover{
    color:red;
    padding: 2px;
    background-color: #fff;
}



.parentt p{
    width: 500px;
    background-color: red;
    margin: 0 auto;
}